$def with (nav, change_password_form, message)

<head>
    <title>Beelance2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="shortcut icon" type="image/png" href="static/honeybee.png"/>

</head>

<body>
    
    $:nav
        <h2>Change to New Password</h2>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="$csrf_token()" />

            $:change_password_form.render()
        </form> 

    <p>$:message</p>

    <img src="static/honeybee.png" alt="Honeybee">

</body>